html {
    max-width: 100vw;
    max-height: 100vh;
}
body {
    font-family: 'Titillium Web', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}
body::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #333;
}

.ts {
    text-shadow: 2px 2px 1px #3333;
}